# Normalize line endings
* text=auto

# Specific rules (biar konsisten LF)
*.html text eol=lf
*.css  text eol=lf
*.js   text eol=lf
*.svg  text eol=lf

# Binary files (jangan diubah line endings)
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
